
<div class="container">
  <h2>Flight Management System</h2>
    <div class="topnav">
      <a class="navbar-brand" href="#">
      </a>
      <ul class="nav nav-pills ">
      <li class="nav-item">
        <a class="nav-link" class="btn btn-outline-secondary btn-sm mr-3" routerLink="registration">Registration</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" class="btn btn-outline-secondary  btn-sm  mr-3" routerLink="searchflight">SearchFlights</a>
      </li>
</ul>
    </div>
  </div>
  <router-outlet></router-outlet>
  <router-outlet></router-outlet>
